body {
    background-color: #111;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin-top: 20px;
    font-weight: normal;
}

canvas {
    background-color: #000;
    border: 2px solid #555;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}